In [1]:
import numpy as np
import pandas as pd

In [2]:
# Fijar la semilla para reproducibilidad
np.random.seed(666)

In [3]:
# leemos los arhivos de train, val y test
df_train = pd.read_csv('data/train_timeseries_interpolated.csv')
df_val = pd.read_csv('data/val_timeseries_interpolated.csv')
df_test = pd.read_csv('data/test_timeseries_interpolated.csv')

In [4]:
# Cargamos soil data
df_soil = pd.read_csv('data/soil_data.csv')

In [5]:
df_soil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3109 entries, 0 to 3108
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fips           3109 non-null   int64
 1   lat            3109 non-null   float64
 2   lon            3109 non-null   float64
 3   elevation      3109 non-null   int64
 4   slope1         3109 non-null   float64
 5   slope2         3109 non-null   float64
 6   slope3         3109 non-null   float64
 7   slope4         3109 non-null   float64
 8   slope5         3109 non-null   float64
 9   slope6         3109 non-null   float64
 10  slope7         3109 non-null   float64
 11  slope8         3109 non-null   float64
 12  aspectN        3109 non-null   float64
 13  aspectE        3109 non-null   float64
 14  aspectS        3109 non-null   float64
 15  aspectW        3109 non-null   float64
 16  aspectUnknown  3109 non-null   float64
 17  WAT_LAND       3109 non-null   float64
 18  NVG_LAND       3109 non-null   float64
 19  URB_LAND       3109 non-null   float64
 20  GRS_LAND       3109 non-null   float64
 21  FOR_LAND       3109 non-null   float64
 22  CULTRF_LAND    3109 non-null   float64
 23  CULTIR_LAND    3109 non-null   float64
 24  CULT_LAND      3109 non-null   float64
 25  SQ1            3109 non-null   int64
 26  SQ2            3109 non-null   int64
 27  SQ3            3109 non-null   int64
 28  SQ4            3109 non-null   int64
 29  SQ5            3109 non-null   int64
 30  SQ6            3109 non-null   int64
 31  SQ7            3109 non-null   int64
dtypes: float64(23), int64(9)
memory usage: 777.4 KB

In [6]:
# opcion para que pandas muestre todo en un print
pd.set_option('display.max_rows', None)

In [7]:
# Eliminar las columnas 'score' y 'score_interpolated'
columns_to_drop = ['score', 'score_interpolated']
df_train = df_train.drop(columns=columns_to_drop)
df_val = df_val.drop(columns=columns_to_drop)
df_test = df_test.drop(columns=columns_to_drop)

In [8]:
df_train['date'] = pd.to_datetime(df_train['date'])
df_val['date'] = pd.to_datetime(df_val['date'])
df_test['date'] = pd.to_datetime(df_test['date'])

In [9]:
# Concatenar los datasets para utilizar PyCaret (opcional)
df_combined = pd.concat([df_train, df_val, df_test])

In [10]:
# Restablecer el índice a un RangeIndex para evitar duplicados
df_combined = df_combined.reset_index(drop=True)

In [11]:
# Seleccionar aleatoriamente 1000 fips únicos
fips_to_keep = np.random.choice(df_combined['fips'].unique(), size=500, replace=False)

# Filtrar el DataFrame para que solo contenga los fips seleccionados
df_combined = df_combined[df_combined['fips'].isin(fips_to_keep)]

In [12]:
df_combined.shape

(1644000, 21)

In [13]:
len(df_combined.fips.unique())

500

In [14]:
# joineamos a df_combined el df_soil por fips
df_combined = df_combined.merge(df_soil, on='fips', how='left')

In [15]:
df_combined.shape

(1644000, 52)

In [16]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1644000 entries, 0 to 1643999
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   fips                      1644000 non-null  int64
 1   date                      1644000 non-null  datetime64[ns]
 2   PRECTOT                   1644000 non-null  float64
 3   PS                        1644000 non-null  float64
 4   QV2M                      1644000 non-null  float64
 5   T2M                       1644000 non-null  float64
 6   T2MDEW                    1644000 non-null  float64
 7   T2MWET                    1644000 non-null  float64
 8   T2M_MAX                   1644000 non-null  float64
 9   T2M_MIN                   1644000 non-null  float64
 10  T2M_RANGE                 1644000 non-null  float64
 11  TS                        1644000 non-null  float64
 12  WS10M                     1644000 non-null  float64
 13  WS10M_MAX                 1644000 non-null  float64
 14  WS10M_MIN                 1644000 non-null  float64
 15  WS10M_RANGE               1644000 non-null  float64
 16  WS50M                     1644000 non-null  float64
 17  WS50M_MAX                 1644000 non-null  float64
 18  WS50M_MIN                 1644000 non-null  float64
 19  WS50M_RANGE               1644000 non-null  float64
 20  score_final_interpolated  1644000 non-null  float64
 21  lat                       1644000 non-null  float64
 22  lon                       1644000 non-null  float64
 23  elevation                 1644000 non-null  int64
 24  slope1                    1644000 non-null  float64
 25  slope2                    1644000 non-null  float64
 26  slope3                    1644000 non-null  float64
 27  slope4                    1644000 non-null  float64
 28  slope5                    1644000 non-null  float64
 29  slope6                    1644000 non-null  float64
 30  slope7                    1644000 non-null  float64
 31  slope8                    1644000 non-null  float64
 32  aspectN                   1644000 non-null  float64
 33  aspectE                   1644000 non-null  float64
 34  aspectS                   1644000 non-null  float64
 35  aspectW                   1644000 non-null  float64
 36  aspectUnknown             1644000 non-null  float64
 37  WAT_LAND                  1644000 non-null  float64
 38  NVG_LAND                  1644000 non-null  float64
 39  URB_LAND                  1644000 non-null  float64
 40  GRS_LAND                  1644000 non-null  float64
 41  FOR_LAND                  1644000 non-null  float64
 42  CULTRF_LAND               1644000 non-null  float64
 43  CULTIR_LAND               1644000 non-null  float64
 44  CULT_LAND                 1644000 non-null  float64
 45  SQ1                       1644000 non-null  int64
 46  SQ2                       1644000 non-null  int64
 47  SQ3                       1644000 non-null  int64
 48  SQ4                       1644000 non-null  int64
 49  SQ5                       1644000 non-null  int64
 50  SQ6                       1644000 non-null  int64
 51  SQ7                       1644000 non-null  int64
dtypes: datetime64[ns](1), float64(42), int64(9)
memory usage: 652.2 MB

In [18]:
# guardamos en carpeta data el resultado para laburar a futuro
df_combined.to_parquet('data/combined_timeseries_interpolated.parquet', index=False)